button{
	width: 160px;
	height: 18px;
/*	background-color: #0de2c2;*/
	color: #ffffff;
}

main{
	width: 1000px;
	margin: 30px auto;
}

table.masterlist{
	width:  100%;
}
table.masterlist th{
	background: #aaa;
}
table.masterlist th,table.masterlist td{
	padding: 10%px;
	border-bottom: 1px solid #aaa;

}

